/*_____  google fonts _______*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


/*_____  property variables  _______*/
:root{
    /*typography*/
    --font-playfair: 'Playfair Display', serif;
    /*colors*/
    --space-color:#232727;
    --white-color:#ECEEE6;
    --black-color:#0D0D0C;
    --tuna-color:#383B3F;

    --hit-color:#AEB6BB;
    --sorrell-color:#CBA68B;
    --breaker-color:#58A0A2;
    --kashmir-color:#517B96;
    --gothic-color:#6897A5;
    --eden-color:#145860;
    --cristine-color:#F1780B;
    --porsche-color:#E7B375;
    --rouge-color:#A03866;

    /*transition*/
    --transition-01:all .4s ease;

    /*border*/



}
/*_____ reset  _______*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-playfair);
    list-style: 1.5;
    color: var(--black-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*_____ header  _______*/
.header{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    overflow: hidden;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    z-index: 222;
}
.navBrand{
    font-size: 2.4rem;
    color: var(--cristine-color);
    font-weight: 600;
    background-color: var(--white-color);   
}
.navBrand b{
    color:var(--eden-color)
}
.navbarList{
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: right;
    margin-right: 100px;
}
ul li {
    margin: 0 20px;
}
ul li a {
    display: block;
    font-size: 1.6rem;
    color: var(--eden-color);
    text-transform: capitalize;
    letter-spacing: 1;
    transition: var(--transition-01);
}
ul li:hover a {
    color: var(--cristine-color);

}
/*_____   _______*/

/*_____   _______*/