/*_____  google fonts _______*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


/*_____  property variables  _______*/
:root{
    /*typography*/
    --font-playfair: 'Playfair Display', serif;
    /*colors*/
    --space-color:#232727;
    --white-color:#ECEEE6;
    --black-color:#0D0D0C;
    --tuna-color:#383B3F;

    --hit-color:#AEB6BB;
    --sorrell-color:#CBA68B;
    --breaker-color:#58A0A2;
    --kashmir-color:#517B96;
    --gothic-color:#6897A5;
    --eden-color:#145860;
    --cristine-color:#F1780B;
    --porsche-color:#E7B375;
    --rouge-color:#A03866;

    /*transition*/


    /*border*/



}
/*_____   _______*/

/*_____   _______*/

/*_____   _______*/

/*_____   _______*/